body {
  height: 99%;
}

html {
  font-family: arial;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: arial;
  background: rgba(205, 210, 212, 1.0);
}

.ember-view {
  height: 99%;
}

.leaflet-container {
  width: 100%;
  height: 99%;
}

.side-bar {
  height: 200px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip,
.leaflet-popup-close-button,
.leaflet-popup-content {
  visibility: hidden;
  position: relative;
}

.leaflet-container {
  z-index: 1;
}

.side-bar {
  padding: 10px;
  top: 50px;
  right: 75px;
  height: 80%;
  width: 20%;
  background-color: #ffffff;
  visibility: visible;
  position: absolute;
  z-index: 10;
  background: rgba(255, 255, 255, 0.6);
}

.country-info,
.twitter-info,
.music-info {
  padding-top: 20px;
  height: 27%;
}

.country-info,
.twitter-info {
  border-bottom: 1px solid;
}

.country {
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 35px;
  text-align: center;
}

.population {
  padding-left: 30px;
  font-size:  15px;
}

.music {
  padding-left: 30px;
  font-size:  15px;
}
