<div class="leaflet-container" id="leaflet"></div>
<!-- {{#leaflet-map id="leaf-let" lat=lat lng=lng zoom=zoom minZoom=minZoom maxZoom=maxZoom worldCopyJump=true register-as=leafletMap}}
  {{tile-layer url=""}}
  {{#each country in countries}}
    {{#marker-layer location=country.location onClick='setSideBarInfo'}}{{/marker-layer}}
  {{/each}}
  {{/leaflet-map}} -->

{{input placeholder="Type to search a county" value=searchText class="search-bar" enter="searchForCountry"}}
{{side-bar countryName=sideBarCountry.name
           population=sideBarCountry.population
           lifeExpectancy=sideBarCountry.lifeExpectancy
           deathRate=sideBarCountry.dyingBetweenSixty
           capita=sideBarCountry.expenditureAsGdp}}
