<div class="side-bar">
  <div class="country">{{formattedCountryName}}</div>
  <div class="country-info">
    <div class="population">Population: {{formattedPopulation}}</div>
  </div>
  <div class="twitter-info">
    <div class="population">Population: {{population}}</div>
  </div>
  <div class="music-info">
    <div class="population">Population: {{population}}</div>
  </div>
</div>
